/* This is a CSS file */
body{
  margin: 0;
  padding: 0;
}

#chairs{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
}
#note{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  background: rgb(52,54,66);
  
}

#score,#point{
  padding: 20px;
  margin: 0;
  color: white;
  font-size: large;
  position: fixed;
  top: 0;
  left: 0;
}

#restart{
  padding: 10px;
  margin: 10px;
  color: rgb(114, 114, 114);
  font-size: large;
  position: fixed;
  top: 0;
  right: 0;
}

#start{
  padding: 10px;
  margin: 10px;
  color: rgb(114, 114, 114);
  font-size: large;
  position: fixed;
  top: 50px;
  right: 0;
}

#audio{
  padding: 10px;
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

#data{
          padding: 20px;
          margin: 0;
          color: white;
          font-size: large;
          position: fixed;
          top: 20px;
          left: 0;
        }